<nav class="main-nav row">
  <button *ngFor="let mainItem of mainItems" [routerLink]="[mainItem.path]" ngbButton class="fixedwidth btn-primary" (mouseover)="prefetchMain()">
      {{mainItem.title}}
  </button>
  <div *ngIf="isAdmin" ngbDropdown>
    <button class="fixedwidth btn-primary" id="dropdownConfig" ngbDropdownToggle (mouseover)="prefetchAdmin()">Admin</button>
    <div class="fixedwidth" ngbDropdownMenu aria-labelledby="dropdownConfig">
      <button *ngFor="let adminItem of adminItems" class="fixedwidth btn-primary" [routerLink]="[adminItem.path]">{{adminItem.title}}</button>
    </div>
  </div>
  <div class=" right ">
    {{user.firstName}} in {{account.description}}
  </div>
  <button class="fixedwidth btn-danger " (click)="logout() ">
    Logout
  </button>
</nav>
<div class="clearfix "></div>