.main-intro {
    color: #0044cc;
    margin: 5vh auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.main-form {
    margin: 20vh auto;
    text-align: center;
    font-weight: bold;
    color: #444444;
}

.main-title {
    color: #0099ff;
    margin: 5vh auto;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.main-input {
    margin: 2vh auto;
    text-align: center;
    border-radius: 1px;
}

.main-button {
    display: block;
    color: #007bff;
    font-weight: bold;
    background: linear-gradient(to bottom, #ccddee, #aaccdd);
    border: 2px solid #0099ff;
    border-radius: 3px;
    margin: 3vh auto;
    padding: 6px 10px;
}


.error {
    color: #eb1017;
}