<form (ngSubmit)="onSubmitLogin()" #loginForm="ngForm" class="main-form">

  <p>Login with your email and password</p>

  <fieldset>
    <legend>User</legend>
    <div>
      <input class="main-input" placeholder="email" type="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <input class="main-input" placeholder="password" type="password" name="password" [(ngModel)]="user.password" required>
    </div>
  </fieldset>

  <button class="main-button" type="submit" [disabled]="!loginForm.valid">Login</button>
  <p class="error" *ngIf="error">{{ error }}</p>
</form>