<form (ngSubmit)="onSubmitUpdate()" #updateForm="ngForm">
  <div>
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
  </div>
  <div>
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
  </div>
  <div>
    <label for="email">email: </label>
    <input type="email" name="email" [(ngModel)]="user.email" required>
  </div>
  <button type="submit" [disabled]="!updateForm.valid">update</button>
  <p class="error" *ngIf="error">{{ error }}</p>
</form>