.home-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background: linear-gradient(to bottom, #007bff, #008eff)
}

.home-title {
    color: #ccddff;
    margin: 25vh auto 15vh;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.button-container {
    color: #007bff;
    margin: 15vh auto 10vh;
    width: 100px;
}

.home-button {
    display: block;
    color: #007bff;
    font-weight: bold;
    font-size: 20px;
    width: 140px;
    height: 60px;
    margin: 10px auto;
    background: linear-gradient(to bottom, #ccddee, #aaccdd);
    border: 3px solid #cccccc;
    border-radius: 4px;
}

.home-description {
    color: #ddeeff;
    margin: 10vh auto 10vh;
    padding: 1vw;
    text-align: center;
    font-size: 16px;
}