<h1 class="main-intro">citayfactura.es</h1>

<form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm" class="main-form">

  <h2 class="main-title">Create a new account and your new user</h2>

  <fieldset>
    <legend>User</legend>
    <div>
      <input class="main-input" type="text" placeholder="First Name" name="firstName" [(ngModel)]="user.firstName" required>
    </div>
    <div>
      <input class="main-input" type="text" placeholder="Last Name" name="lastName" [(ngModel)]="user.lastName" required>
    </div>
    <div>
      <input class="main-input" type="email" placeholder="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <input class="main-input" type="password" placeholder="password" name="password" [(ngModel)]="user.password" required>
    </div>
  </fieldset>

  <fieldset>
    <legend>Account</legend>
    <div>
      <input class="main-input" type="text" placeholder="Name of the account" name="description" [(ngModel)]="account.description"
        required>
    </div>
  </fieldset>

  <button class="main-button" type="submit" [disabled]="!registerForm.valid">Sign up</button>
  <p class="error" *ngFor="let error of errors">
    {{error.message}}
  </p>
</form>