<form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
  <fieldset>
    <legend>Account</legend>
    <div>
      <label for="description">Description: </label>
      <input type="text" name="description" [(ngModel)]="account.description" required>
    </div>
  </fieldset>
  <fieldset>
    <legend>User</legend>
    <div>
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
    </div>
    <div>
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Sign up</button>
    <p class="error" *ngIf="error">{{ error }}</p>
  </fieldset>
</form>